In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

movie = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')

In [2]:
movie

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [3]:
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [13]:
movies = pd.merge(ratings, movie, on='movieId')

In [24]:
movies = movies[['movieId', 'title', 'userId', 'rating']]
movies

        movieId                             title  userId  rating
0             1                  Toy Story (1995)       1     4.0
1             1                  Toy Story (1995)       5     4.0
2             1                  Toy Story (1995)       7     4.5
3             1                  Toy Story (1995)      15     2.5
4             1                  Toy Story (1995)      17     4.5
...         ...                               ...     ...     ...
100831   160341                  Bloodmoon (1997)     610     2.5
100832   160527  Sympathy for the Underdog (1971)     610     4.5
100833   160836                     Hazard (2005)     610     3.0
100834   163937                Blair Witch (2016)     610     3.5
100835   163981                         31 (2016)     610     3.5

[100836 rows x 4 columns]

In [85]:
table = pd.pivot_table(movies, values='rating', index='userId', columns='title')

In [86]:
table

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.5,3.5,NaN,NaN,NaN
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,...,NaN,4.0,3.5,3.0,NaN,NaN,2.0,1.5,NaN,NaN

In [87]:
table.fillna(0, inplace=True)

In [88]:
table

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.5,3.5,0.0,0.0,0.0
609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0,...,0.0,4.0,3.5,3.0,0.0,0.0,2.0,1.5,0.0,0.0

In [129]:
userMeans = table.mean(axis=1)

In [130]:
userMeans

userId
1      0.104229
2      0.011781
3      0.009775
4      0.079020
5      0.016463
         ...
606    0.419590
607    0.072847
608    0.267980
609    0.012450
610    0.494135
Length: 610, dtype: float64

In [133]:
meanCenteredPrediction = table.subtract(userMeans, axis=0)

In [134]:
meanCenteredPrediction

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,-0.104229,-0.104229,-0.104229,-0.104229,-0.104229,-0.104229,-0.104229,-0.104229,-0.104229,-0.104229,...,-0.104229,-0.104229,-0.104229,-0.104229,-0.104229,-0.104229,-0.104229,-0.104229,3.895771,-0.104229
2,-0.011781,-0.011781,-0.011781,-0.011781,-0.011781,-0.011781,-0.011781,-0.011781,-0.011781,-0.011781,...,-0.011781,-0.011781,-0.011781,-0.011781,-0.011781,-0.011781,-0.011781,-0.011781,-0.011781,-0.011781
3,-0.009775,-0.009775,-0.009775,-0.009775,-0.009775,-0.009775,-0.009775,-0.009775,-0.009775,-0.009775,...,-0.009775,-0.009775,-0.009775,-0.009775,-0.009775,-0.009775,-0.009775,-0.009775,-0.009775,-0.009775
4,-0.079020,-0.079020,-0.079020,-0.079020,-0.079020,-0.079020,-0.079020,-0.079020,-0.079020,-0.079020,...,-0.079020,-0.079020,-0.079020,-0.079020,-0.079020,-0.079020,-0.079020,-0.079020,-0.079020,-0.079020
5,-0.016463,-0.016463,-0.016463,-0.016463,-0.016463,-0.016463,-0.016463,-0.016463,-0.016463,-0.016463,...,-0.016463,-0.016463,-0.016463,-0.016463,-0.016463,-0.016463,-0.016463,-0.016463,-0.016463,-0.016463
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,-0.419590,-0.419590,-0.419590,-0.419590,-0.419590,-0.419590,-0.419590,-0.419590,-0.419590,-0.419590,...,-0.419590,-0.419590,-0.419590,-0.419590,-0.419590,-0.419590,-0.419590,-0.419590,-0.419590,-0.419590
607,-0.072847,-0.072847,-0.072847,-0.072847,-0.072847,-0.072847,-0.072847,-0.072847,-0.072847,-0.072847,...,-0.072847,-0.072847,-0.072847,-0.072847,-0.072847,-0.072847,-0.072847,-0.072847,-0.072847,-0.072847
608,-0.267980,-0.267980,-0.267980,-0.267980,-0.267980,-0.267980,-0.267980,-0.267980,-0.267980,-0.267980,...,-0.267980,-0.267980,-0.267980,-0.267980,-0.267980,4.232020,3.232020,-0.267980,-0.267980,-0.267980
609,-0.012450,-0.012450,-0.012450,-0.012450,-0.012450,-0.012450,-0.012450,-0.012450,-0.012450,-0.012450,...,-0.012450,-0.012450,-0.012450,-0.012450,-0.012450,-0.012450,-0.012450,-0.012450,-0.012450,-0.012450
610,3.505865,-0.494135,-0.494135,-0.494135,-0.494135,-0.494135,-0.494135,-0.494135,3.005865,-0.494135,...,-0.494135,3.505865,3.005865,2.505865,-0.494135,-0.494135,1.505865,1.005865,-0.494135,-0.494135

In [89]:
userSimilarity = cosine_similarity(table)

In [90]:
userSimilarity

array([[1.        , 0.02728287, 0.05972026, ..., 0.29109737, 0.09357193,
        0.14532081],
       [0.02728287, 1.        , 0.        , ..., 0.04621095, 0.0275654 ,
        0.10242675],
       [0.05972026, 0.        , 1.        , ..., 0.02112846, 0.        ,
        0.03211875],
       ...,
       [0.29109737, 0.04621095, 0.02112846, ..., 1.        , 0.12199271,
        0.32205486],
       [0.09357193, 0.0275654 , 0.        , ..., 0.12199271, 1.        ,
        0.05322546],
       [0.14532081, 0.10242675, 0.03211875, ..., 0.32205486, 0.05322546,
        1.        ]])

In [120]:
def MeanPredictionFuntion(user_id, movieName):
    movieRatings = table[movieName]
    similarityScores = userSimilarity[user_id-1]
    dotProduct = np.dot(similarityScores, movieRatings)
    sumOfScores = np.sum(similarityScores)
    prediction = dotProduct / abs(sumOfScores)
    return prediction

In [123]:
movieInput = input("Enter a movie name: ")

Enter a movie name: Nixon (1995)

In [124]:
user_id = 3

In [125]:
predictions = []
for movieName in table.columns:
    if title != movieInput:
        prediction = MeanPredictionFuntion(user_id, movieName)
        predictions.append((movieName, prediction))

In [126]:
top5Recommendations = sorted(predictions, key=lambda x: x[1], reverse=True)[:5]

In [127]:
print("Top 5 recommendations:")
for i, recommendation in enumerate(top5Recommendations):
    print(f"{i+1}. {recommendation[0]}")

Top 5 recommendations:
1. Star Wars: Episode IV - A New Hope (1977)
2. Star Wars: Episode V - The Empire Strikes Back (1980)
3. Matrix, The (1999)
4. Forrest Gump (1994)
5. Silence of the Lambs, The (1991)